 #Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python virtual environment
venv/
.env/
.env.* 
*.env



# Logs
*.log



# Node / Frontend
node_modules/
.next/
dist/
build/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db